@use '@/styles/mixins.scss' as *;

.section-presentation {
  background: $color-neutral-700;
  padding-bottom: 40px;
  padding-top: 176px;

  &__content {
    display: grid;
    grid-template-columns: 1fr 416px;
    gap: 104px;

    @include breakpoint('large', 'max') {
      grid-template-columns: 1fr 0.5fr;
      gap: 72px;
    }

    @include between('medium', 'large') {
      grid-template-columns: 1fr;
      gap: 72px;
    }

    @include breakpoint('medium', 'max') {
      grid-template-columns: 1fr;
    }

    &__intro {
      @include breakpoint('medium', 'max') {
        max-width: fit-content;
      }

      h1 {
        color: $color-neutral-200;
      }

      p {
        color: $color-neutral-100;
        margin-top: 16px;
        opacity: 0.8;
      }
    }

    &__socials {
      align-items: center;
      display: flex;
      gap: 28px;

      color: $color-neutral-100;
      margin-top: 40px;

      @include breakpoint('medium', 'max') {
        flex-wrap: wrap;
      }

      a {
        position: relative;

        &:nth-of-type(1),
        &:nth-of-type(2) {
          &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: -16px;
            transform: translateY(-50%);

            background: $color-border-on-dark;
            border-radius: 2px;
            height: 4px;
            width: 4px;
          }
        }

        &:nth-of-type(3) {
          margin-right: -12px;
        }

        &:last-of-type {
          margin-left: -12px;
        }

        span {
          color: inherit;
        }

        @include breakpoint('medium', 'max') {
          &:last-of-type {
            margin-left: 0;
          }
        }
      }

      > div {
        background: $color-border-on-dark;
        height: 2px;
        width: 60px;
      }

      @include breakpoint('medium', 'max') {
        > div {
          display: none;
        }
      }
    }

    &__about {
      display: flex;
      flex-direction: column;
      gap: 24px;

      margin-top: 120px;
      padding-bottom: 64px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;

        background: $color-gradient-dark-theme;
        height: 2px;
        width: 50px;
      }

      p {
        a {
          &:hover {
            opacity: 0.8;
          }

          span {
            color: $color-secondary-cyan;
            text-decoration: underline;
          }
        }

        span.about--highlight {
          color: $color-secondary-cyan;
          font-family: 'Inter-SemiBold';
        }
      }
    }

    &__cards {
      max-width: 32vw;

      @include breakpoint('medium', 'max') {
        max-width: fit-content;
      }

      nav {
        position: sticky;
        // AnnouncementBar + TopMenu + Gap
        top: calc(32px + 72px + 16px);

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;

        margin-top: 32px;
      }

      &__blog {
        align-items: center;
        display: flex;
        justify-content: center;

        @include apply-map($font-heading-4);
        background: $color-neutral-500;
        border-radius: 4px;
        box-shadow:
          0px 2px 4px 0px rgba(40, 40, 40, 0.14),
          0px 1px 5px 0px rgba(40, 40, 40, 0.2),
          0px 3px 4px 0px rgba(40, 40, 40, 0.12);
        color: $color-neutral-200;
        height: 200px;
        width: 200px;
        transition: background 0.24s ease-out;

        &:hover,
        &:focus {
          background: $color-neutral-400;
        }
      }

      &__featured {
        align-self: end;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background: $color-gradient-light-theme;
        border-radius: 4px;
        box-shadow:
          0px 2px 4px 0px rgba(136, 70, 251, 0.14),
          0px 1px 5px 0px rgba(136, 70, 251, 0.2),
          0px 3px 4px 0px rgba(136, 70, 251, 0.12);
        color: $color-neutral-100;
        height: 150px;
        padding: 24px;
        width: 200px;

        span:first-of-type {
          @include apply-map($font-heading-4);
        }

        &:hover,
        &:focus {
          background: $color-secondary-purple;
        }
      }

      &__profile {
        background: url('../../assets/images/about-profile.png') top center
          no-repeat;
        border-radius: 4px;
        height: 150px;
        transition: filter 0.24s ease-out;
        width: 200px;

        &:hover,
        &:focus {
          filter: brightness(1.2);
        }
      }

      &__last-work {
        background: url('../../assets/images/about-post.png');
        background-size: cover;
        border-radius: 4px;
        height: 200px;
        width: 200px;

        div {
          align-items: end;
          display: flex;

          background: $color-neutral-600;
          color: $color-neutral-200;
          height: 100%;
          opacity: 0.8;
          padding: 24px;
          transition: opacity 0.24s ease-out;
          width: 100%;

          > span {
            display: flex;
          }
        }

        &:hover,
        &:focus {
          span {
            color: $color-neutral-100;
          }

          div {
            opacity: 0.88;
          }
        }
      }
    }
  }
}

.section-career {
  background: $color-gradient-background;
  padding-bottom: 144px;
  padding-top: 40px;

  &__jobs-history {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__job {
    display: inline-flex;
    flex-direction: column;
    gap: 16px;

    cursor: default;

    &:hover h2 {
      color: $color-primary-200;
    }

    div {
      h2 {
        align-items: center;
        display: flex;
        gap: 12px;
      }

      h2,
      small,
      p {
        color: inherit;
      }

      &:first-of-type {
        color: $color-neutral-100;
      }

      &:last-of-type {
        color: $color-neutral-200;
      }
    }
  }
}
