.yl-company-card {
  color: var(--yl-color-fg-default);
  list-style: none;

  &__plate {
    block-size: var(--yl-space-80);
    color: var(--yl-color-base-white);
    flex-shrink: 0;
    inline-size: var(--yl-space-80);
    overflow: hidden;
  }
}
