@use 'sass:map';

$breakpoints: (
  'small': 420px,
  'medium': 768px,
  'large': 1280px,
  'x-large': 1440px,
);

@mixin apply-map($map) {
  @each $prop, $value in $map {
    #{$prop}: $value;
  }
}

@mixin breakpoint($size, $type: min) {
  $value: map.get($breakpoints, $size);

  @if not $value {
    @warn "Breakpoint #{$size} não está definido.";
  } @else {
    @media (#{$type}-width: #{$value - if($type == max, 1px, 0)}) {
      @content;
    }
  }
}

@mixin between($min, $max) {
  $minVal: map.get($breakpoints, $min);
  $maxVal: map.get($breakpoints, $max);

  @if $minVal and $maxVal {
    @media (min-width: #{$minVal}) and (max-width: #{$maxVal - 1px}) {
      @content;
    }
  } @else {
    @warn "Breakpoints inválidos: #{$min} → #{$minVal}, #{$max} → #{$maxVal}";
  }
}
