@use '@/styles/mixins.scss' as *;

.testimony-slider {
  overflow: hidden;

  &__container {
    display: flex;
  }

  &__slide {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;

    &__content {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      h3 {
        @include apply-map($font-reviews);
        color: $color-neutral-600;
        margin: 16px 0 32px 0;
      }

      span {
        @include apply-map($font-intro-highlight);
        color: $color-neutral-500;
      }

      small {
        @include apply-map($font-body);
        color: $color-neutral-300;
        margin-top: 2px;
      }
    }
  }

  &__navigation {
    display: flex;
    justify-content: center;
    gap: 8px;

    margin-top: 48px;
    padding-bottom: 8px;

    button {
      height: 2px;
      width: 16px;
    }

    &__dot {
      background: $color-neutral-300;
      opacity: 0.24;

      &--selected {
        background: $color-neutral-700;
      }
    }
  }
}
