.card-workflow {
  border-radius: 4px;
  padding: 32px;
  position: relative;

  > span {
    display: block;
    margin-bottom: 16px;
  }

  /* [🎛️] Variants */
  &--default {
    background: $color-neutral-200;
    box-shadow:
      0px 3px 3px 0px rgba(20, 20, 20, 0.04),
      0px 3px 4px 0px rgba(20, 20, 20, 0.02),
      0px 1px 8px 0px rgba(20, 20, 20, 0.08);
  }

  &--featured {
    background: $color-gradient-light-theme;
    box-shadow:
      0px 2px 4px 0px rgba(32, 96, 223, 0.14),
      0px 4px 5px 0px rgba(32, 96, 223, 0.12),
      0px 1px 10px 0px rgba(32, 96, 223, 0.2);

    h4 {
      color: $color-neutral-100;
    }

    p {
      color: $color-neutral-200;
      font-weight: 600;
      opacity: 0.8;
    }
  }

  /* [🏗️] Structure */
  &__count {
    position: absolute;
    top: 64px;
    left: -12px;

    align-items: center;
    display: flex;
    justify-content: center;

    background: $color-neutral-100;
    border-radius: 16px;
    height: 30px;
    width: 30px;

    filter: drop-shadow(0px 1px 10px rgba(190, 190, 191, 0.2))
      drop-shadow(0px 4px 5px rgba(190, 190, 191, 0.12))
      drop-shadow(0px 2px 4px rgba(190, 190, 191, 0.14));

    &__counter {
      font-family: 'Heebo-Bold';
      font-size: 16px;
      line-height: 100%;

      background: $color-gradient-light-theme;
      background-clip: text;
      -webkit-backgroun-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
